<footer>
    <p>Copyrigt ©2022 Equipo 5</p>
    <div>
        <ul class="footerNav">
            <li><a href="./">Blog</a></li>
            <li class="designBy"><a target="_blank" href="https://www.facebook.com/josekarim.francovalencia.3">Design by el vitor</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>
    
    <ul class="socialMedia">
         <a target="_blank" href="https://www.facebook.com/asiel.apodacamonge/"><img src="img/socialMedia/facebookIcon.png"></a>
         <a target="_blank" href="https://www.linkedin.com/in/asiel-apodaca-monge-896810243/"><img src="img/socialMedia/linkedinIcon.png"></a>
         <a target="_blank" href="https://twitter.com/WillyrexYT"><img src="img/socialMedia/twitterIcon.png"></a>
         <a target="_blank" href="https://www.instagram.com/sweetcatsfu/"><img src="img/socialMedia/instagramIcon.png"></a>
         <a target="_blank" href="https://www.youtube.com/shorts/DlLNINLRuOI"><img src="img/socialMedia/googleplusIcon.png"></a>
    </ul>
</footer>